.map {
    width: 100%;
    height: 100%;
}

.markerPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markerPopupTitle {
    color: #598bff;
}

.markerPopupList {
    padding: 0;
    list-style: none;
    margin: 5px 0 5px 0;
}

.markerPopupListItem {
    color: black;
    padding: 3px;
}

.markerPopupImageContainer {
    width: 200px;
}

.markerPopupImage {
    width: 100%;
    height: auto;
}