.home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePadding {
    padding: 10px;
}

.homeImageContainer {
    width: 900px;
    padding: 50px;
}

.homeImage {
    width: 100%;
    height: auto;
}