.crewMemberCardContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.crewMemberCard {
    margin: 20px;
    width: 50%;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.38);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.crewMemberImageContainer {
    width: 300px;
    padding: 10px;
}

.crewMemberImage {
    width: 100%;
    height: auto;
}

.crewMemberDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crewMemberData {
    padding: 10px;
}

.dataBold {
    font-weight: bold;
}
