.header {
    width: 100%;
    height: 50px;
    background-color: var(--header-background-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.headerWrapper {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTitle {
    font-weight: bold;
    font-size: 30px;
    color: #598bff;
}

.headerTitle:hover {
    opacity: 75%;
}
