.sidebar {
    flex: 1;
    background-color: var(--sidebar-background-color);
    top: 50px;
    height: calc(100vh - 50px);
    position: sticky;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.sidebarWrapper {
    padding: 30px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 20px;
}

.sidebarTitle {
    font-size: 15px;
    color: #cdcbc9;
}

.sidebarList {
    list-style: none;
    padding: 15px;
}

.sidebarListItem {
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: #4a4d51;
}

.sidebarListItemTitle {
    margin-left: 10px;
}