.rocketAnalytics {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.chartTitle {
    padding: 10px;
    color: #202225;
    text-align: center;
}

.chartContainer {
    margin: 20px;
    width: 80%;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.38);
}