:root {
    --header-background-color: #202225;
    --sidebar-background-color: #2f3136;
    --main-background-color: #36393f;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.mainContainer {
    display: flex;
}

.main {
    flex: 5;
    background-color: white;
}

.link {
    text-decoration: none;
    color: inherit;
}

.loading {
    color: black;
}